.navbar {
    background-color: black;
    top: 0;
    left: 0;
    height: 30px;
    position: relative;

    .navbar-items {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 100%;
        width: fit-content;

        .navbar-item-icon {
            color: white;
            transition: 0.3s;

            &:hover {
                color: rgba($color: #fff, $alpha: 0.7);
                transform: scale(1.2);
            }
        }
    }

    >.logo-link {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}