@use "../../breakpoints.scss" as bp;

.gallery-container {
    background-color: black;
    padding: 50px 100px;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: #ffffff;
}

@media (max-width: bp.$breakpoint-small) {
    .gallery-container {
        padding: 25px;
    }
}